<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style>
      div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
      }

      div.gallery:hover {
        border: 1px solid #777;
      }

      div.gallery img {
        width: 100%;
        height: auto;
      }

      div.desc {
        padding: 15px;
        text-align: center;
      }
    </style>
    <title>Images for {{ timestamp }}</title>
  </head>

  <body>
    <h1>Select time-span to display</h1>
    <form method="POST">
      <label for="from">From: </label>
      <input type="text" name="from" id="from" value="{{ ts_from }}" /><br />
      <label for="until">Until: </label>
      <input type="text" name="until" id="until" value="{{ ts_until }}" /><br />
      <input type="submit" value="show" />
    </form>
    <h1>Here are all the pictures between {{ ts_from }} and {{ ts_until }}</h1>
    {% if pictures %} {% for picture in pictures %}
    <div class="gallery">
      <a target="_blank" href="{{ url_for('static', filename=picture.name) }}">
        <img
          src="{{ url_for('static', filename=picture.name) }}"
          width="20%"
          height="auto"
        />
      </a>
      <div class="desc">{{ picture.time }}</div>
    </div>
    {% endfor %} {% else %}
    <h2>None were found for the selected time-span.</h2>
    {% endif %}
  </body>
</html>
