<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style>
      div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
      }

      div.gallery:hover {
        border: 1px solid #777;
      }

      div.gallery img {
        width: 100%;
        height: auto;
      }

      div.desc {
        padding: 15px;
        text-align: center;
      }
    </style>
    <title>Images for {{ timestamp }}</title>
  </head>

  <body>
    <h1>Here are all the avaliable Pictures for {{ timestamp | safe }}</h1>
    {% if pictures %} {% for picture in pictures %}
    <div class="gallery">
      <a target="_blank" href="{{ url_for('static', filename=picture.name) }}">
        <img
          src="{{ url_for('static', filename=picture.name) }}"
          alt="2"
          width="20%"
          height="auto"
        />
      </a>
      <div class="desc">{{ picture.time }}</div>
    </div>
    {% endfor %} {% else %}
    <h2>None were found for the selected day.</h2>
    {% endif %}
  </body>
</html>
